.item-form-wrapper {
  background-color: #e59fbb;
  flex-grow: 1;
}

.item-form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  border: 2px solid black;
}

.item-form label {
  margin-top: 2%;  
}
