.sidebar-section {
  background-color: #612312;
  color: white;
  flex-grow: 0.2;
  min-width: 150px;
}

.options-wrapper {
  margin: 20% 0 0 45%;
}

.sidebar-option {
  font-size: 1.1em;
  font-weight: 500;
  padding: 3%;
  border-radius: 5px;
  margin-right: 5%;
}
