.item-card-section {
    padding-top: 2%;
    background-color: #FDF9C5;
    max-width: 50%;
    flex-grow: 1.5;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}